<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://documenter.getpostman.com/styles/importer.a1be29cd47e7bf5b456c.css">
    <link rel="stylesheet" href="https://run.pstmn.io/button.css">
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <a href="https://documenter.getpostman.com/view/2568017/TVRhd9qR">https://documenter.getpostman.com/view/2568017/TVRhd9qR</a>

<div id="intro" class="doc-bodystyles__DocBodyContainer-sc-6a86lm-0 fCfPTe">
    <div class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
      <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
        <div class="collectionstyles__CollectionContainer-sc-nm5878-0 bOTWHv">
          <div id="intro" class="collectionstyles__CollectionTitle-sc-nm5878-1 ecXQZS">Cafe &amp; Wifi</div>
          <div class="collectionstyles__DescriptionWrapper-sc-nm5878-2 ivMAvt">
            <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer"></div>
          </div>
        </div>
      </div>
      <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kVOaPB"></div>
    </div>
    <div id="0d46f5c0-0b41-4bf4-af71-70e0c6a7f475" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
      <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
        <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
          <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
            <span data-entity-type="request-method" title="GET" class="styles__MethodWrapper-sc-12gd6on-3 NAWiN">GET</span>
            <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Get All Cafes</p>
          </div>
          <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/all</div>
          <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
            <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
              <p><span>This route returns a json with the data from all cafes in the database.</span></p>
            </div>
          </div>
          <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
            <br><br>
          </div>
        </div>
      </div>
      <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
        <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
          <div><div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
            <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
              <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
              <div title="Get All Cafes" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Get All Cafes</div>
            </div>
            <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
              <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 dcnjSv click-to-expand-container">
                  <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                    <div class="enhanced-codestyles__HighlightCode-sc-1utidae-2 jjZxqi highlight-code">
                      <pre class="language-javascript">
                        <code class="language-javascript">curl <span class="token operator">--</span>location <span class="token operator">--</span>request <span class="token constant">GET</span> <span class="token string">'localhost:5000/all'</span></code>
                      </pre>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cc8be04a-fe41-4bd1-8aa2-0fae1a304142" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
    <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
      <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
        <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
          <span data-entity-type="request-method" title="GET" class="styles__MethodWrapper-sc-12gd6on-3 NAWiN">GET</span>
          <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Get Random Cafe</p>
        </div>
        <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/random</div>
        <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
          <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
            <p><span>Returns a random cafe from the database.</span></p>
          </div>
        </div>
        <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
          <br><br>
        </div>
      </div>
    </div>
    <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
      <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
        <div>
          <div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
            <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
              <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
              <div title="Get Random Cafe" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Get Random Cafe</div>
            </div>
            <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
              <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 dcnjSv click-to-expand-container">
                  <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                    <div class="enhanced-codestyles__HighlightCode-sc-1utidae-2 jjZxqi highlight-code">
                      <pre class="language-javascript"><code class="language-javascript">
                        curl <span class="token operator">--</span>location <span class="token operator">--</span>request <span class="token constant">GET</span> <span class="token string">'localhost:5000/random'</span></code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="9fc7e046-055f-446b-aebf-5275b9bec52e" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
    <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
      <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
        <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
          <span data-entity-type="request-method" title="GET" class="styles__MethodWrapper-sc-12gd6on-3 NAWiN">GET</span>
          <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Search Cafes By Location</p>
        </div>
        <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/search?loc=Peckham</div>
        <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
          <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
            <p><span>The /search route will search the cafe database for a cafe that matches the location queried. Use the loc parameter to pass a location name.</span></p>
          </div>
        </div>
        <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
          <div class="simple-tablestyles__SimpleTableContainer-sc-15uyerb-0 kRzQLx">
            <div class="simple-tablestyles__Title-sc-15uyerb-1 hCGSsD">PARAMS</div>
            <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
              <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">loc</div>
              <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                <div>Peckham</div>
              </div>
            </div>
          </div>
          <br><br>
        </div>
      </div>
    </div>
    <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
      <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
        <div>
          <div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
            <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
              <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
              <div title="Search Cafes By Location" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Search Cafes By Location</div>
            </div>
            <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
              <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 dcnjSv click-to-expand-container">
                  <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                    <div class="enhanced-codestyles__HighlightCode-sc-1utidae-2 jjZxqi highlight-code">
                      <pre class="language-javascript">
                        <code class="language-javascript">curl <span class="token operator">--</span>location <span class="token operator">--</span>request <span class="token constant">GET</span> <span class="token string">'localhost:5000/search?loc=Peckham'</span></code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="7d743e45-bb91-4066-a475-92e03c590676" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
    <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
      <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
        <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
          <span data-entity-type="request-method" title="POST" class="styles__MethodWrapper-sc-12gd6on-3 evKiBP">POST</span>
          <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Post New Cafe</p>
        </div>
        <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/add?api-key=TopSecretAPIKey</div>
        <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
          <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
            <p><span>Adds a new cafe entry to the database. Requires authentication with api-key parameter.</span></p>
          </div>
        </div>
        <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
          <div class="simple-tablestyles__SimpleTableContainer-sc-15uyerb-0 kRzQLx">
            <div class="simple-tablestyles__Title-sc-15uyerb-1 hCGSsD">PARAMS</div>
            <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
              <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">api-key</div>
              <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                <div>TopSecretAPIKey</div>
              </div>
            </div>
          </div>
          <div data-entity-type="request-body" class="request-info-bodystyles__RequestBodyContainer-sc-159utm6-0 kNPoEm">
            <div class="simple-tablestyles__SimpleTableContainer-sc-15uyerb-0 kRzQLx">
              <div class="styles__BodyTitleContainer-sc-x8693k-3 iEkMwu">
                <span class="styles__BodyTitle-sc-x8693k-1 evULTr">Body</span>
                <span class="styles__BodyTitleInfo-sc-x8693k-2 NyYlg">urlencoded</span>
              </div>
              <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">name</div>
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                  <div>Timberyard</div>
                </div>
              </div>
              <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">map_url</div>
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                  <div>https://www.google.com/maps/place/TY+Seven+Dials/@51.5128761,-0.1295574,17z/data=!3m1!4b1!4m5!3m4!1s0x487604cd0ed11587:0x3feff9f93e76a986!8m2!3d51.5128761!4d-0.1273687?hl=en-GB</div>
                </div>
              </div>
              <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">img_url</div>
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                  <div>https://cdn.venuescanner.com/photos/qiUqV/aad7dea72a6fb6f3388ab27ba56b7740.jpg</div>
                </div>
              </div>
              <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">loc</div>
                <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                  <div>Soho</div>
                </div></div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">toilet</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>True</div>
                  </div>
                </div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">wifi</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>True</div>
                  </div>
                </div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">sockets</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>True</div>
                  </div>
                </div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">coffee_price</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>£3.20</div>
                  </div>
                </div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">calls</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>True</div>
                  </div>
                </div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">seats</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>20-30</div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </div>
        </div>
      </div>
      <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
        <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
          <div>
            <div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
              <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
                <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
                <div title="Post New Cafe" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Post New Cafe</div>
              </div>
              <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
                <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                  <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 lYVeq click-to-expand-container">
                    <div class="click-to-expandstyles__ClickToExpandOverlay-sc-17vma9t-1 bPlabc">
                      <div data-entity-id="click-to-expand-button" class="click-to-expandstyles__ClickToExpandButton-sc-17vma9t-2 jlKWsT">View More</div>
                    </div>
                    <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                      <pre class="enhanced-codestyles__SimpleCodeWrapper-sc-1utidae-1 fUIcJK simple-code"><code>curl --location --request POST 'localhost:5000/add?api-key=TopSecretAPIKey' \
--data-urlencode 'name=Timberyard' \
--data-urlencode 'map_url=https://www.google.com/maps/place/TY+Seven+Dials/@51.5128761,-0.1295574,17z/data=!3m1!4b1!4m5!3m4!1s0x487604cd0ed11587:0x3feff9f93e76a986!8m2!3d51.5128761!4d-0.1273687?hl=en-GB' \
--data-urlencode 'img_url=https://cdn.venuescanner.com/photos/qiUqV/aad7dea72a6fb6f3388ab27ba56b7740.jpg' \
--data-urlencode 'loc=Soho' \
--data-urlencode 'toilet=True' \
--data-urlencode 'wifi=True' \
--data-urlencode 'sockets=True' \
--data-urlencode 'coffee_price=£3.20' \
--data-urlencode 'calls=True' \
--data-urlencode 'seats=20-30'</code>
                      </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="e577e8ac-1b14-401f-9843-50348146e65e" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
        <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
          <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
            <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
              <span data-entity-type="request-method" title="PATCH" class="styles__MethodWrapper-sc-12gd6on-3 dGubbJ">PATCH</span>
              <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Update Cofee Price For Cafe</p>
            </div>
            <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/update-price/3?new_price=£3.80</div>
            <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
              <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
                <p><span>Update the price of a black coffee at a particular cafe. Using the id and new_price parameters.</span></p>
              </div>
            </div>
            <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
              <div class="simple-tablestyles__SimpleTableContainer-sc-15uyerb-0 kRzQLx">
                <div class="simple-tablestyles__Title-sc-15uyerb-1 hCGSsD">PARAMS</div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">new_price</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>£3.80</div>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
          </div>
        </div>
        <div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
          <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
            <div>
              <div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
                <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
                  <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
                  <div title="Update Cofee Price For Cafe" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Update Cofee Price For Cafe</div>
                </div>
                <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
                  <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                    <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 dcnjSv click-to-expand-container">
                      <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                        <pre class="enhanced-codestyles__SimpleCodeWrapper-sc-1utidae-1 fUIcJK simple-code">
                          <code>curl --location --request PATCH 'localhost:5000/update-price/3?new_price=£3.80'</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="091a98b8-f0e2-4164-b603-40917ce2ffa1" class="doc-layoutstyles__LayoutContainer-sc-q6d9p9-0 irOMHX">
        <div class="doc-layoutstyles__PrimaryWrapper-sc-q6d9p9-1 ioQUfm">
          <div class="entitystyles__EntityContainer-sc-kfteh-0 dhKkPE">
            <div class="styles__TitleContainer-sc-12gd6on-1 bmbjfO">
              <span data-entity-type="request-method" title="DEL" class="styles__MethodWrapper-sc-12gd6on-3 ifHLUS">DEL</span>
              <p data-entity-type="request-title" class="styles__TitleWrapper-sc-12gd6on-2 dPNnCb">Delete a Cafe By Id</p>
            </div>
            <div data-entity-type="request-url" class="styles__EntityUrlContainer-sc-12gd6on-0 kArPKh">localhost:5000/report-closed/123?api-key=TopSecretAPIKey</div>
            <div class="entitystyles__DescriptionWrapper-sc-kfteh-2 kNwIWV">
              <div class="markdown-viewerstyles__MarkdownContainer-sc-13o0t2u-0 fKmAMU markdown-viewer">
                <p><span>Deletes a cafe from the database. You will need to provide the id of the cafe to delete as a route.You will also need to provide a valid API for this operation to be allowed.</span></p>
              </div>
            </div>
            <div class="request-infostyles__RequestInfoContainer-sc-2jolgl-0 eWyIRN">
              <div class="simple-tablestyles__SimpleTableContainer-sc-15uyerb-0 kRzQLx">
                <div class="simple-tablestyles__Title-sc-15uyerb-1 hCGSsD">PARAMS</div>
                <div class="simple-tablestyles__RequestItemRow-sc-15uyerb-2 kMFslR">
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 simple-tablestyles__ItemKey-sc-15uyerb-4 IDTpj dyxDLT">api-key</div>
                  <div class="simple-tablestyles__ItemValue-sc-15uyerb-3 IDTpj">
                    <div>TopSecretAPIKey</div>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
          </div></div><div class="doc-layoutstyles__SecondaryWrapper-sc-q6d9p9-2 kxtou">
            <div class="entitystyles__EntityExampleContainer-sc-kfteh-1">
              <div>
                <div data-entity-type="example-request" class="styles__ExampleRequestContainer-sc-1gk0rxh-7 fcKjxt">
                  <div class="styles__ExampleHeader-sc-1gk0rxh-4 cSmHyu">
                    <div class="styles__ExampleTitle-sc-1gk0rxh-1 bxWtbx"> Example Request</div>
                    <div title="Delete a Cafe By Id" class="styles__ExampleName-sc-1gk0rxh-3 fPFEwC">Delete a Cafe By Id</div>
                  </div>
                  <div class="styles__ExampleCodeSnippetContainer-sc-1gk0rxh-8 kdKeXf">
                    <div class="copy-to-clipboardstyles__CopyToClipboardContainer-sc-pcjjqc-1 eflJyC">
                      <div class="click-to-expandstyles__ClickToExpandContainer-sc-17vma9t-0 dcnjSv click-to-expand-container">
                        <div data-entity-type="code-block" class="enhanced-codestyles__EnhancedCodeContainer-sc-1utidae-0 hQGGQI">
                          <pre class="enhanced-codestyles__SimpleCodeWrapper-sc-1utidae-1 fUIcJK simple-code">
                            <code>curl --location --request DELETE 'localhost:5000/report-closed/123?api-key=TopSecretAPIKey'</code>
                          </pre>
                        </div>
                      </div>
                      <button class="copy-to-clipboardstyles__CopyToClipboardButton-sc-pcjjqc-0 jBGdyo">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.94514 1C1.42316 1 1 1.42316 1 1.94514V11.5165C1 12.0065 1.39717 12.4036 1.8871 12.4036C2.37704 12.4036 2.7742 12.0065 2.7742 11.5165V3.58965C2.7742 3.06766 3.19736 2.6445 3.71936 2.6445H10.8107C11.2648 2.6445 11.6329 2.27637 11.6329 1.82225C11.6329 1.36813 11.2648 1 10.8107 1H1.94514Z" fill="#A9A9A9"></path>
                          <path d="M4.60338 3.59636C4.08139 3.59636 3.65823 4.01952 3.65823 4.5415V14.0548C3.65823 14.5768 4.08139 15 4.60338 15H14.0549C14.5768 15 15 14.5768 15 14.0548V4.5415C15 4.01952 14.5768 3.59636 14.0549 3.59636H4.60338Z" fill="#A9A9A9">
                          </path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
